$primary-color: #232B54;
$secondary-color: #15b0ea;
$font-family: 'Lato';
$header-font-family: 'Roboto Slab';
@import '~smaterial/src/sass/material-light';

body {
    height: 100vh;

    @media #{$sm-and-up} {
        background-image: url(/storage/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

.container {
    margin: 0 auto;
}

img {
    filter: drop-shadow(0 rem-calc(3px) rem-calc(3px) rgba(0, 0, 0, 0.6));
}
