$primary-color: #232B54;
$secondary-color: #15b0ea;
$font-family: 'Lato';
$header-font-family: 'Roboto Slab';

@import '~smaterial/src/sass/material-light.scss';

form {
    margin: 0;
}

table form {
    display: inline-block;
}

.button {
    --primary-color: #{$secondary-color};

    &--delete {
        --primary-color: #{$red};
    }

    &--edit {
        --primary-color: #{$green};
    }

    &--show {
        --primary-color: #{$blue};
    }
}

.pagination {
    list-style-type: none;

    .page-item {
        display: inline-block;

        &.disabled .page-link, &.active .page-link {
            @extend .button--outlined--disabled;
        }
    }

    .page-link {
        @extend .button, .button--outlined;
    }
}

.list--two-line {
    min-height: var(--list--two-line-height);
    height: unset;
}

.card__header {
    color: var(--primary-color);
    display: flex;

    .icon {
        color: var(--primary-color);
        vertical-align: baseline;
        line-height: 1.75rem;
        margin-right: rem-calc(8px);
    }

    a {
        @include chain(height, line-height, 1.75rem);
        display: flex;

        .icon {
            color: var(--primary-color);
            transition: color .1s $easing-standard;
        }

        &:hover .icon {
            color: var(--secondary-color);
        }
    }
}

.card__text {
    > * {
        padding: 0;
    }
}

.fab {
    background: transparent;
    @extend .z0;

    .icon {
        color: $primary-color;

        &:hover {
            color: $secondary-color;
        }
    }
}

.data-table {
    th {
        font-size: 1rem;
    }
}
